<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<title>Publications</title>

<style>{{ css }}</style>

</head>

<body>

<h1>BY TYPE</h1>

<h2>BOOKS</h2>

  <ul id="pubs_list">

  {% for entry in db|keeponly('book')|sort(attribute='author')|sort(attribute='year'|reverse) %}
    {{ entry.formatted }}
  {%- endfor %}

  </ul>

	<div class="pubsection">
		<h3>Peer-reviewed articles</h3>
		{% set ns = namespace(last_year = 9999) %}
		{# {% for year in range(1999, 2025)|reverse %} #}
				{% for entry in db|keeponly(['peerreviewed', 'proceedings'], field='pubtype')|sort(reverse=true, attribute='year') %}
					{% if entry.year != ns.last_year %}
						{% if not loop.first %}</div>{% endif %}
						<div class="pubsubsection">
						<h5>{{ entry.year }}</h5>
						{% set ns.last_year = entry.year %}
						{{ entry.formatted }}
					{% else %}
						{{ entry.formatted }}
					{% endif %}
					{% if loop.last %}</div>{% endif %}
				{% endfor %}
		{# {% endfor %} #}
	</div>

	<div class="pubsection">
		<h3>Conference presentations</h3>
		{% set ns = namespace(last_year = 9999) %}
		{# {% for year in range(1999, 2025)|reverse %} #}
				{% for entry in db|keeponly('presentation', field='pubtype')|sort(reverse=true, attribute='year') %}
					{% if entry.year != ns.last_year %}
						{% if not loop.first %}</div>{% endif %}
						<div class="pubsubsection">
						<h5>{{ entry.year }}</h5>
						{% set ns.last_year = entry.year %}
						{{ entry.formatted }}
					{% else %}
						{{ entry.formatted }}
					{% endif %}
					{% if loop.last %}</div>{% endif %}
				{% endfor %}
		{# {% endfor %} #}
	</div>

<h2>CONFERENCE PRESENTATIONS</h2>

  <ul id="pubs_list">

  {% for entry in db|keeponly('presentation', field='pubtype')|sort(attribute='year')|reverse|sort(attribute='author') %}
    {{ entry.formatted }}
  {%- endfor %}

  </ul>


<!-- h2>TECHNICAL REPORTS</h2>

  <ul id="pubs_list">

  {% for entry in db|keeponly('techreport')|sort(attribute='author')|sort(attribute='year') %}
    {{ entry.formatted }}
  {%- endfor %}

  </ul -->


<h1>BY YEAR</h1>

{% for year in range(1999, 2025)|reverse %}
{% if db|keeponly(year, field='year') %}
<h2>{{ year }}</h2>

  <ul id="pubs_list">

    {% for entry in db|keeponly(year, field='year')|sort(attribute='author') %}
      {{ entry.formatted }}
    {%- endfor %}

  </ul>
{% endif %}
{% endfor %}


<h1>BY PROGRAMME</h1>

{% for programme, full_programme in [
	('langtech', 'Language technology'),
	('computational', 'Computational linguistics'),
	('sociohistorical', 'Socio-historical linguisics'),
	('vowels', 'Vowels'),
	('syllableedge', 'Syllable-edge phonology'),
	('documentation', 'Language Documentation')
	]
%}
{% if db|keeponly(programme, field='programme') %}
<h2>{{ full_programme }}</h2>

  <ul id="pubs_list">

    {% for entry in db|keeponly(programme, field='programme')|sort(attribute='year')|reverse %} {# |sort(attribute='author') #}
      {{ entry.formatted }}
    {%- endfor %}

  </ul>
{% endif %}
{% endfor %}



<!-- FOOTER -->
Generated automatically by <a href="https://github.com/lchamon/pubs2html">pubs2html</a> [ &copy; 2014 Luiz Chamon ].
<!-- END OF FOOTER -->

</body>
</html>
