{% macro publinks(bibTex, pubstate, abstract, konspekt, url, doi, pdf, slides) -%}
	<div class="publication-links">
		{% set ns = namespace(first = true) %}
		{% if bibTex is defined -%}	
			{% if not ns.first %}|{% else %}[{%set ns.first=false%}{% endif %}
			<a href="javascript:;" class="activateBibtex" onclick="toggleBibTex(this);">BibTex</a>
		{% endif %}
		{% if pubstate is defined %}
			{% if not ns.first %}|{% else %}[{%set ns.first=false%}{% endif %}
         {{ pubstate }}
      {% endif %}
		{% if abstract is defined %}
			{% if not ns.first %}|{% else %}[{%set ns.first=false%}{% endif %}
         <a href="javascript:;" class="activateAbstract" onclick="toggleAbstract(this);">abstract</a>
      {% endif %}
		{% if konspekt is defined %}
			{% if not ns.first %}|{% else %}[{%set ns.first=false%}{% endif %}
         <a href="javascript:;" class="activateKonspekt" onclick="toggleKonspekt(this);">конспект</a>
      {% endif %}
		{% if mainurl is defined %}
			{% if not ns.first %}|{% else %}[{%set ns.first=false%}{% endif %}
			<b><a href="{{ mainurl }}">URL</a></b>
		{% elif url is defined %}
			{% if not ns.first %}|{% else %}[{%set ns.first=false%}{% endif %}
			<b><a href="{{ url }}">URL</a></b>
		{% endif %}  
		{% if doi is defined %}
			{% if not ns.first %}|{% else %}[{%set ns.first=false%}{% endif %}
			<b><a href="https://doi.org/{{ doi }}">DOI</a></b>
		{% endif %}
		{% if pdf is defined %}
			{% if not ns.first %}|{% else %}[{%set ns.first=false%}{% endif %}
			<b><a href="{{ pdf }}">PDF</a></b>
		{% endif %}
		{% if slides is defined %}
			{% if not ns.first %}|{% else %}[{%set ns.first=false%}{% endif %}
			<a href="{{ slides }}">slides</a>
		{% endif %}  
		{% if not ns.first %}]{% endif %}
	</div>
	{% if bibTex is defined -%}
		<div class="bibTex" style="display: none">{{ bibTex }}</div>
	{%- endif -%}
	{% if abstract is defined -%}
		<div class="abstract" style="display: none">{{ abstract }}</div>
	{%- endif -%}
	{% if konspekt is defined -%}
		<div class="konspekt" style="display: none">{{ konspekt }}</div>
	{%- endif -%}

{%- endmacro %}

